<script>
	import { enhance, applyAction } from "$app/forms";
</script>

<main>
	<form
		method="POST"
		use:enhance={() => {
			return async ({ result }) => {
				if (result.type === "failure" && result.data?.missing) {
					return console.log("Missing fields", result.data);
				}
				
				applyAction(result);
			};
		}}
	>
		<label for="name">Name</label>
		<input id="name" type="text" placeholder="Name" />

		<label for="email">Email</label>
		<input id="email" type="email" placeholder="Email" />

		<label for="password">Password</label>
		<input id="password" type="text" placeholder="Password" />

		<button type="submit">Submit</button>
	</form>
</main>

<style>
	:global(body) {
		margin: 0;
		padding: 0;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		height: 100vh;
	}

	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		width: 300px;
	}

	label {
		font-size: 0.95rem;
		margin-bottom: 0.15rem;
	}

	input {
		margin-bottom: 10px;
		padding: 0.45rem;
		border: 1px solid #ccc;
		border-radius: 0.35rem;
	}

	button {
		margin-top: 2rem;
		padding: 0.35rem;
		border: 1px solid #ccc;
		border-radius: 0.35rem;
	}
</style>